/* COLOR PALETTE */
:root {
    --rouge: #660000;
    --rouge_accent: #440000;
    --gris: #aaa;
    --bleu: #222288;
    --bleu_accent: #1b1b6b;
    --vert: #005500;
    --vert_accent: #004400;
}

/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#tblProduits ,tr,th,td{
    border:2px solid black;
    
}


/* RESPONSIVE */
[class*="flex"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

[class*="col-"] {
    float: left;
    width: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
    background-color: black;
    color: white;
    font-family: "Calibri", sans-serif;
}

a, h1, h2 {
    color: white;
}

h1, h2 {
    margin-bottom: 10px;
    text-align: center;
}

main {
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--rouge);
    padding-bottom: 100px;
}

/* HEADER */
.flexheader {
    margin-left: auto;
    width: max-content;
    align-content: flex-end;
}

.flexheader li {
    padding: 10px;
    list-style: none;
    text-align: center;
}

.flexheader a {
    transition: all 0.1s ease-in-out;
}

.flexheader a:hover {
    color: var(--gris);
}

#csLogo {
    margin: auto;
    display: block;
    width: 200px;
}

/* NAVBAR */
.flexnav {
    margin: auto;
    width: 75%;
    padding-bottom: 20px;
}

.flexnav li {
    list-style: none;
    text-align: center;
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
}

.flexnav a {
    padding: 10px;
    display: block;
    background-color: var(--rouge);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.flexnav a:hover {
    background-color: var(--rouge_accent);
}

/* FOOTER */
footer {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* FORM CHOIX DE COMPOSANTS */
.formChoixComposant input[type='text']{
    width: 50px;
}

/* CHANGEMENT DE THÈME */
.blue_theme .flexnav a, .blue_theme main, .blue_theme .config .pale, .blue_theme button {
    background-color: var(--bleu);
}

.blue_theme .flexnav a:hover, .blue_theme .config {
    background-color: var(--bleu_accent);
}

.green_theme .flexnav a, .green_theme main, .green_theme .config .pale, .green_theme button {
    background-color: var(--vert);
}

.green_theme .flexnav a:hover, .green_theme .config {
    background-color: var(--vert_accent);
}

.flextheme {
    margin: auto;
    margin-top: 5px;
    width: max-content;
    text-align: center;
}

.flextheme button {
    width: 20px;
    display: block;
    color: white;
    border-color: black;
}

#btn_r {
    background-color: var(--rouge);
}

#btn_g {
    background-color: var(--vert);
}

#btn_b {
    background-color: var(--bleu);
}

/* POINTERS */
button {
    cursor: pointer;
}

/*Page de creation de configuration*/

.hidden {
    display: none;
}   

/* Formulaire inscription/connexion */
.inscription, .connexion {
    width: 50%;
    margin: auto;
    margin-top: 25px;
    border: black 2px solid;
    border-radius: 5px;
    background-color: var(--rouge_accent);
    padding: 10px;
}

.btn_inscription, .btn_connexion, .btn_CDC{
    height: 50px; 
    width: 300px;
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 5px;
    color: white;
    background-color: var(--rouge);
    border-radius: 5px;
    border: 2px black solid;
    transition: all 0.1s ease-in-out; 
}

.btn_inscription:hover, .btn_connexion:hover {
    color: var(--gris);
}

.blue_theme .inscription, .blue_theme .connexion {
    background-color: var(--bleu_accent);
}

.green_theme .inscription, .green_theme .connexion {
    background-color: var(--vert_accent);
}

#f_inscription > input, #f_connexion > input 
{
    width: 300px;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#f_inscription, #f_connexion {
    display: flex;
    flex-direction: column;
}

.red_text_Form::-webkit-input-placeholder
{
    color: red;
}

/*Page Choix du chef */
h4 {
    text-align: center;
    margin: auto;
}
.split 
{  
   display:flex;
   margin-top: 20px;
}
.split div:first-of-type {
    width: 43%;
}

.CDC article 
{
    width:75%;
}
.CDC aside
{
    width: 25%;    
    border: 1px;
    border-style: solid;
    border-color: white;
    text-align: center;
}
.CDC aside div p 
{
    margin-top: 10px;
}

.CDC {
    margin-top: 30px;
    display: flex;
    height: 300px;
}

.btn_CDC {
    height: auto;
    width: 200px;
    background-color: var(--rouge_accent);
    bottom: 0px;
    margin: auto;
}







/* MES CONFIGURATIONS */
.config {
    width: 50%;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    border: black 2px solid;
    border-radius: 5px;
    background-color: var(--rouge_accent);
}

.config table {
    border-spacing: 0;
    border-collapse: 0;
}

.config tr.pale {
    background-color: var(--rouge);
}

.config td {
    width: 50%;
    padding: 5px;
}

.config td.config_top {
    width: 100%;
}

.config h2 {
    margin: 0;
}

.config h3 {
    color: var(--gris);
    margin-bottom: 10px;
}

.btn_delete_config {
    color: white;
    background-color: var(--rouge);
    border-radius: 5px;
    border: 2px black solid;
    padding: 5px;
    margin-top: 10px;
    transition: all 0.1s ease-in-out;
}

.btn_delete_config:hover {
    color: var(--gris);
}

[class*="appear"], .disappear { 
    animation-duration: 0.75s; 
    animation-fill-mode: forwards; 
} 
 
.appear { 
    animation-name: appear_left; 
} 

.disappear { 
    animation-name: disappear; 
} 
 
@keyframes appear_left { 
    from { 
        opacity: 0; 
        transform: translateX(-20vw); 
    } 
    to { 
        opacity: 1; 
        transform: translateX(0); 
    } 
}
 
@keyframes disappear { 
    from { 
      opacity: inherit; 
    } 
    to { 
      opacity: 0; 
    } 
} 



/* MEDIA QUERY */
@media only screen and (max-width: 980px) {
    .col-1m {width: 8.33%;}
    .col-2m {width: 16.66%;}
    .col-3m {width: 25%;}
    .col-4m {width: 33.33%;}
    .col-5m {width: 41.66%;}
    .col-6m {width: 50%;}
    .col-7m {width: 58.33%;}
    .col-8m {width: 66.66%;}
    .col-9m {width: 75%;}
    .col-10m {width: 83.33%;}
    .col-11m {width: 91.66%;}
    .col-12m {width: 100%;}

    .flexnav {
        flex-direction: row;
        width: 90%;
    }

    .flexnav li {
        width: 50%;
        padding: 5px;
    }

    main {
        width: 90%;
    }
}
